html{
  width: 100%;
  height: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: black;
  overflow: hidden;
}
.navbar {
  overflow: hidden;
  background-color: black;
  box-shadow: 0 -3px 5px rgba(255, 255, 255, 0.3),
              0 -3px 10px rgba(255, 255, 255, 0.3);
}

.navbar a {
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover{
  background-color: gray;
  padding: 12px 14px;
  font-size: 24px;
}

.logo-label{
  float: left;
}

.games-label{
  float: right;
}

.proxies-label{
  float: right;
}

.title {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 180px;
  font-weight: bold;
  margin-top: 5rem;
  transition: 0.5s;
}
.title:hover{
  transform: scale(1.1);
}

#stars {
width: 1px;
height: 1px;
background: transparent;
animation: animStar 50s linear infinite;
box-shadow: 779px 1331px #b70ef0, 324px 42px #b70ef0, 303px 586px #b70ef0,
1312px 276px #b70ef0, 451px 625px #b70ef0, 521px 1931px #b70ef0, 1087px 1871px #b70ef0,
36px 1546px #b70ef0, 132px 934px #b70ef0, 1698px 901px #b70ef0, 1418px 664px #b70ef0,
1448px 1157px #b70ef0, 1084px 232px #b70ef0, 347px 1776px #b70ef0, 1722px 243px #b70ef0,
1629px 835px #b70ef0, 479px 969px #b70ef0, 1231px 960px #b70ef0, 586px 384px #b70ef0,
164px 527px #b70ef0, 8px 646px #b70ef0, 1150px 1126px #b70ef0, 665px 1357px #b70ef0,
1556px 1982px #b70ef0, 1260px 1961px #b70ef0, 1675px 1741px #b70ef0,
1843px 1514px #b70ef0, 718px 1628px #b70ef0, 242px 1343px #b70ef0, 1497px 1880px #b70ef0,
1364px 230px #b70ef0, 1739px 1302px #b70ef0, 636px 959px #b70ef0, 304px 686px #b70ef0,
614px 751px #b70ef0, 1935px 816px #b70ef0, 1428px 60px #b70ef0, 355px 335px #b70ef0,
1594px 158px #b70ef0, 90px 60px #b70ef0, 1553px 162px #b70ef0, 1239px 1825px #b70ef0,
1945px 587px #b70ef0, 749px 1785px #b70ef0, 1987px 1172px #b70ef0, 1301px 1237px #b70ef0,
1039px 342px #b70ef0, 1585px 1481px #b70ef0, 995px 1048px #b70ef0, 524px 932px #b70ef0,
214px 413px #b70ef0, 1701px 1300px #b70ef0, 1037px 1613px #b70ef0, 1871px 996px #b70ef0,
1360px 1635px #b70ef0, 1110px 1313px #b70ef0, 412px 1783px #b70ef0, 1949px 177px #b70ef0,
903px 1854px #b70ef0, 700px 1936px #b70ef0, 378px 125px #b70ef0, 308px 834px #b70ef0,
1118px 962px #b70ef0, 1350px 1929px #b70ef0, 781px 1811px #b70ef0, 561px 137px #b70ef0,
757px 1148px #b70ef0, 1670px 1979px #b70ef0, 343px 739px #b70ef0, 945px 795px #b70ef0,
576px 1903px #b70ef0, 1078px 1436px #b70ef0, 1583px 450px #b70ef0, 1366px 474px #b70ef0,
297px 1873px #b70ef0, 192px 162px #b70ef0, 1624px 1633px #b70ef0, 59px 453px #b70ef0,
82px 1872px #b70ef0, 1933px 498px #b70ef0, 1966px 1974px #b70ef0, 1975px 1688px #b70ef0,
779px 314px #b70ef0, 1858px 1543px #b70ef0, 73px 1507px #b70ef0, 1693px 975px #b70ef0,
1683px 108px #b70ef0, 1768px 1654px #b70ef0, 654px 14px #b70ef0, 494px 171px #b70ef0,
1689px 1895px #b70ef0, 1660px 263px #b70ef0, 1031px 903px #b70ef0, 1203px 1393px #b70ef0,
1333px 1421px #b70ef0, 1113px 41px #b70ef0, 1206px 1645px #b70ef0, 1325px 1635px #b70ef0,
142px 388px #b70ef0, 572px 215px #b70ef0, 1535px 296px #b70ef0, 1419px 407px #b70ef0,
1379px 1003px #b70ef0, 329px 469px #b70ef0, 1791px 1652px #b70ef0, 935px 1802px #b70ef0,
1330px 1820px #b70ef0, 421px 1933px #b70ef0, 828px 365px #b70ef0, 275px 316px #b70ef0,
707px 960px #b70ef0, 1605px 1554px #b70ef0, 625px 58px #b70ef0, 717px 1697px #b70ef0,
1669px 246px #b70ef0, 1925px 322px #b70ef0, 1154px 1803px #b70ef0, 1929px 295px #b70ef0,
1248px 240px #b70ef0, 1045px 1755px #b70ef0, 166px 942px #b70ef0, 1888px 1773px #b70ef0,
678px 1963px #b70ef0, 1370px 569px #b70ef0, 1974px 1400px #b70ef0, 1786px 460px #b70ef0,
51px 307px #b70ef0, 784px 1400px #b70ef0, 730px 1258px #b70ef0, 1712px 393px #b70ef0,
416px 170px #b70ef0, 1797px 1932px #b70ef0, 572px 219px #b70ef0, 1557px 1856px #b70ef0,
218px 8px #b70ef0, 348px 1334px #b70ef0, 469px 413px #b70ef0, 385px 1738px #b70ef0,
1357px 1818px #b70ef0, 240px 942px #b70ef0, 248px 1847px #b70ef0, 1535px 806px #b70ef0,
236px 1514px #b70ef0, 1429px 1556px #b70ef0, 73px 1633px #b70ef0, 1398px 1121px #b70ef0,
671px 1301px #b70ef0, 1404px 1663px #b70ef0, 740px 1018px #b70ef0, 1600px 377px #b70ef0,
785px 514px #b70ef0, 112px 1084px #b70ef0, 1915px 1887px #b70ef0, 1463px 1848px #b70ef0,
687px 1115px #b70ef0, 1268px 1768px #b70ef0, 1729px 1425px #b70ef0,
1284px 1022px #b70ef0, 801px 974px #b70ef0, 1975px 1317px #b70ef0, 1354px 834px #b70ef0,
1446px 1484px #b70ef0, 1283px 1786px #b70ef0, 11px 523px #b70ef0, 1842px 236px #b70ef0,
1355px 654px #b70ef0, 429px 7px #b70ef0, 1033px 1128px #b70ef0, 157px 297px #b70ef0,
545px 635px #b70ef0, 52px 1080px #b70ef0, 827px 1520px #b70ef0, 1121px 490px #b70ef0,
9px 309px #b70ef0, 1744px 1586px #b70ef0, 1014px 417px #b70ef0, 1534px 524px #b70ef0,
958px 552px #b70ef0, 1403px 1496px #b70ef0, 387px 703px #b70ef0, 1522px 548px #b70ef0,
1355px 282px #b70ef0, 1532px 601px #b70ef0, 1838px 790px #b70ef0, 290px 259px #b70ef0,
295px 598px #b70ef0, 1601px 539px #b70ef0, 1561px 1272px #b70ef0, 34px 1922px #b70ef0,
1024px 543px #b70ef0, 467px 369px #b70ef0, 722px 333px #b70ef0, 1976px 1255px #b70ef0,
766px 983px #b70ef0, 1582px 1285px #b70ef0, 12px 512px #b70ef0, 617px 1410px #b70ef0,
682px 577px #b70ef0, 1334px 1438px #b70ef0, 439px 327px #b70ef0, 1617px 1661px #b70ef0,
673px 129px #b70ef0, 794px 941px #b70ef0, 1386px 1902px #b70ef0, 37px 1353px #b70ef0,
1467px 1353px #b70ef0, 416px 18px #b70ef0, 187px 344px #b70ef0, 200px 1898px #b70ef0,
1491px 1619px #b70ef0, 811px 347px #b70ef0, 924px 1827px #b70ef0, 945px 217px #b70ef0,
1735px 1228px #b70ef0, 379px 1890px #b70ef0, 79px 761px #b70ef0, 825px 1837px #b70ef0,
1980px 1558px #b70ef0, 1308px 1573px #b70ef0, 1488px 1726px #b70ef0,
382px 1208px #b70ef0, 522px 595px #b70ef0, 1277px 1898px #b70ef0, 354px 552px #b70ef0,
161px 1784px #b70ef0, 614px 251px #b70ef0, 526px 1576px #b70ef0, 17px 212px #b70ef0,
179px 996px #b70ef0, 467px 1208px #b70ef0, 1944px 1838px #b70ef0, 1140px 1093px #b70ef0,
858px 1007px #b70ef0, 200px 1064px #b70ef0, 423px 1964px #b70ef0, 1945px 439px #b70ef0,
1377px 689px #b70ef0, 1120px 1437px #b70ef0, 1876px 668px #b70ef0, 907px 1324px #b70ef0,
343px 1976px #b70ef0, 1816px 1501px #b70ef0, 1849px 177px #b70ef0, 647px 91px #b70ef0,
1984px 1012px #b70ef0, 1336px 1300px #b70ef0, 128px 648px #b70ef0, 305px 1060px #b70ef0,
1324px 826px #b70ef0, 1263px 1314px #b70ef0, 1801px 629px #b70ef0, 1614px 1555px #b70ef0,
1634px 90px #b70ef0, 1603px 452px #b70ef0, 891px 1984px #b70ef0, 1556px 1906px #b70ef0,
121px 68px #b70ef0, 1676px 1714px #b70ef0, 516px 936px #b70ef0, 1947px 1492px #b70ef0,
1455px 1519px #b70ef0, 45px 602px #b70ef0, 205px 1039px #b70ef0, 793px 172px #b70ef0,
1562px 1739px #b70ef0, 1056px 110px #b70ef0, 1512px 379px #b70ef0, 1795px 1621px #b70ef0,
1848px 607px #b70ef0, 262px 1719px #b70ef0, 477px 991px #b70ef0, 483px 883px #b70ef0,
1239px 1197px #b70ef0, 1496px 647px #b70ef0, 1649px 25px #b70ef0, 1491px 1946px #b70ef0,
119px 996px #b70ef0, 179px 1472px #b70ef0, 1341px 808px #b70ef0, 1565px 1700px #b70ef0,
407px 1544px #b70ef0, 1754px 357px #b70ef0, 1288px 981px #b70ef0, 902px 1997px #b70ef0,
1755px 1668px #b70ef0, 186px 877px #b70ef0, 1202px 1882px #b70ef0, 461px 1213px #b70ef0,
1400px 748px #b70ef0, 1969px 1899px #b70ef0, 809px 522px #b70ef0, 514px 1219px #b70ef0,
374px 275px #b70ef0, 938px 1973px #b70ef0, 357px 552px #b70ef0, 144px 1722px #b70ef0,
1572px 912px #b70ef0, 402px 1858px #b70ef0, 1544px 1195px #b70ef0, 667px 1257px #b70ef0,
727px 1496px #b70ef0, 993px 232px #b70ef0, 1772px 313px #b70ef0, 1040px 1590px #b70ef0,
1204px 1973px #b70ef0, 1268px 79px #b70ef0, 1555px 1048px #b70ef0, 986px 1707px #b70ef0,
978px 1710px #b70ef0, 713px 360px #b70ef0, 407px 863px #b70ef0, 461px 736px #b70ef0,
284px 1608px #b70ef0, 103px 430px #b70ef0, 1283px 1319px #b70ef0, 977px 1186px #b70ef0,
1966px 1516px #b70ef0, 1287px 1129px #b70ef0, 70px 1098px #b70ef0, 1189px 889px #b70ef0,
1126px 1734px #b70ef0, 309px 1292px #b70ef0, 879px 764px #b70ef0, 65px 473px #b70ef0,
1003px 1959px #b70ef0, 658px 791px #b70ef0, 402px 1576px #b70ef0, 35px 622px #b70ef0,
529px 1589px #b70ef0, 164px 666px #b70ef0, 1876px 1290px #b70ef0, 1541px 526px #b70ef0,
270px 1297px #b70ef0, 440px 865px #b70ef0, 1500px 802px #b70ef0, 182px 1754px #b70ef0,
1264px 892px #b70ef0, 272px 1249px #b70ef0, 1289px 1535px #b70ef0, 190px 1646px #b70ef0,
955px 242px #b70ef0, 1456px 1597px #b70ef0, 1727px 1983px #b70ef0, 635px 801px #b70ef0,
226px 455px #b70ef0, 1396px 1710px #b70ef0, 849px 1863px #b70ef0, 237px 1264px #b70ef0,
839px 140px #b70ef0, 1122px 735px #b70ef0, 1280px 15px #b70ef0, 1318px 242px #b70ef0,
1819px 1148px #b70ef0, 333px 1392px #b70ef0, 1949px 553px #b70ef0, 1878px 1332px #b70ef0,
467px 548px #b70ef0, 1812px 1082px #b70ef0, 1067px 193px #b70ef0, 243px 156px #b70ef0,
483px 1616px #b70ef0, 1714px 933px #b70ef0, 759px 1800px #b70ef0, 1822px 995px #b70ef0,
1877px 572px #b70ef0, 581px 1084px #b70ef0, 107px 732px #b70ef0, 642px 1837px #b70ef0,
166px 1493px #b70ef0, 1555px 198px #b70ef0, 819px 307px #b70ef0, 947px 345px #b70ef0,
827px 224px #b70ef0, 927px 1394px #b70ef0, 540px 467px #b70ef0, 1093px 405px #b70ef0,
1140px 927px #b70ef0, 130px 529px #b70ef0, 33px 1980px #b70ef0, 1147px 1663px #b70ef0,
1616px 1436px #b70ef0, 528px 710px #b70ef0, 798px 1100px #b70ef0, 505px 1480px #b70ef0,
899px 641px #b70ef0, 1909px 1949px #b70ef0, 1311px 964px #b70ef0, 979px 1301px #b70ef0,
1393px 969px #b70ef0, 1793px 1886px #b70ef0, 292px 357px #b70ef0, 1196px 1718px #b70ef0,
1290px 1994px #b70ef0, 537px 1973px #b70ef0, 1181px 1674px #b70ef0,
1740px 1566px #b70ef0, 1307px 265px #b70ef0, 922px 522px #b70ef0, 1892px 472px #b70ef0,
384px 1746px #b70ef0, 392px 1098px #b70ef0, 647px 548px #b70ef0, 390px 1498px #b70ef0,
1246px 138px #b70ef0, 730px 876px #b70ef0, 192px 1472px #b70ef0, 1790px 1789px #b70ef0,
928px 311px #b70ef0, 1253px 1647px #b70ef0, 747px 1921px #b70ef0, 1561px 1025px #b70ef0,
1533px 1292px #b70ef0, 1985px 195px #b70ef0, 728px 729px #b70ef0, 1712px 1936px #b70ef0,
512px 1717px #b70ef0, 1528px 483px #b70ef0, 313px 1642px #b70ef0, 281px 1849px #b70ef0,
1212px 799px #b70ef0, 435px 1191px #b70ef0, 1422px 611px #b70ef0, 1718px 1964px #b70ef0,
411px 944px #b70ef0, 210px 636px #b70ef0, 1502px 1295px #b70ef0, 1434px 349px #b70ef0,
769px 60px #b70ef0, 747px 1053px #b70ef0, 789px 504px #b70ef0, 1436px 1264px #b70ef0,
1893px 1225px #b70ef0, 1394px 1788px #b70ef0, 1108px 1317px #b70ef0,
1673px 1395px #b70ef0, 854px 1010px #b70ef0, 1705px 80px #b70ef0, 1858px 148px #b70ef0,
1729px 344px #b70ef0, 1388px 664px #b70ef0, 895px 406px #b70ef0, 1479px 157px #b70ef0,
1441px 1157px #b70ef0, 552px 1900px #b70ef0, 516px 364px #b70ef0, 1647px 189px #b70ef0,
1427px 1071px #b70ef0, 785px 729px #b70ef0, 1080px 1710px #b70ef0, 504px 204px #b70ef0,
1177px 1622px #b70ef0, 657px 34px #b70ef0, 1296px 1099px #b70ef0, 248px 180px #b70ef0,
1212px 1568px #b70ef0, 667px 1562px #b70ef0, 695px 841px #b70ef0, 1608px 1247px #b70ef0,
751px 882px #b70ef0, 87px 167px #b70ef0, 607px 1368px #b70ef0, 1363px 1203px #b70ef0,
1836px 317px #b70ef0, 1668px 1703px #b70ef0, 830px 1154px #b70ef0, 1721px 1398px #b70ef0,
1601px 1280px #b70ef0, 976px 874px #b70ef0, 1743px 254px #b70ef0, 1020px 1815px #b70ef0,
1670px 1766px #b70ef0, 1890px 735px #b70ef0, 1379px 136px #b70ef0, 1864px 695px #b70ef0,
206px 965px #b70ef0, 1404px 1932px #b70ef0, 1923px 1360px #b70ef0, 247px 682px #b70ef0,
519px 1708px #b70ef0, 645px 750px #b70ef0, 1164px 1204px #b70ef0, 834px 323px #b70ef0,
172px 1350px #b70ef0, 213px 972px #b70ef0, 1837px 190px #b70ef0, 285px 1806px #b70ef0,
1047px 1299px #b70ef0, 1548px 825px #b70ef0, 1730px 324px #b70ef0, 1346px 1909px #b70ef0,
772px 270px #b70ef0, 345px 1190px #b70ef0, 478px 1433px #b70ef0, 1479px 25px #b70ef0,
1994px 1830px #b70ef0, 1744px 732px #b70ef0, 20px 1635px #b70ef0, 690px 1795px #b70ef0,
1594px 569px #b70ef0, 579px 245px #b70ef0, 1398px 733px #b70ef0, 408px 1352px #b70ef0,
1774px 120px #b70ef0, 1152px 1370px #b70ef0, 1698px 1810px #b70ef0, 710px 1450px #b70ef0,
665px 286px #b70ef0, 493px 1720px #b70ef0, 786px 5px #b70ef0, 637px 1140px #b70ef0,
764px 324px #b70ef0, 927px 310px #b70ef0, 938px 1424px #b70ef0, 1884px 744px #b70ef0,
913px 462px #b70ef0, 1831px 1936px #b70ef0, 1527px 249px #b70ef0, 36px 1381px #b70ef0,
1597px 581px #b70ef0, 1530px 355px #b70ef0, 949px 459px #b70ef0, 799px 828px #b70ef0,
242px 1471px #b70ef0, 654px 797px #b70ef0, 796px 594px #b70ef0, 1365px 678px #b70ef0,
752px 23px #b70ef0, 1630px 541px #b70ef0, 982px 72px #b70ef0, 1733px 1831px #b70ef0,
21px 412px #b70ef0, 775px 998px #b70ef0, 335px 1945px #b70ef0, 264px 583px #b70ef0,
158px 1311px #b70ef0, 528px 164px #b70ef0, 1978px 574px #b70ef0, 717px 1203px #b70ef0,
734px 1591px #b70ef0, 1555px 820px #b70ef0, 16px 1943px #b70ef0, 1625px 1177px #b70ef0,
1236px 690px #b70ef0, 1585px 1590px #b70ef0, 1737px 1728px #b70ef0, 721px 698px #b70ef0,
1804px 1186px #b70ef0, 166px 980px #b70ef0, 1850px 230px #b70ef0, 330px 1712px #b70ef0,
95px 797px #b70ef0, 1948px 1078px #b70ef0, 469px 939px #b70ef0, 1269px 1899px #b70ef0,
955px 1220px #b70ef0, 1137px 1075px #b70ef0, 312px 1293px #b70ef0, 986px 1762px #b70ef0,
1103px 1238px #b70ef0, 428px 1993px #b70ef0, 355px 570px #b70ef0, 977px 1836px #b70ef0,
1395px 1092px #b70ef0, 276px 913px #b70ef0, 1743px 656px #b70ef0, 773px 502px #b70ef0,
1686px 1322px #b70ef0, 1516px 1945px #b70ef0, 1334px 501px #b70ef0, 266px 156px #b70ef0,
455px 655px #b70ef0, 798px 72px #b70ef0, 1059px 1259px #b70ef0, 1402px 1687px #b70ef0,
236px 1329px #b70ef0, 1455px 786px #b70ef0, 146px 1228px #b70ef0, 1851px 823px #b70ef0,
1062px 100px #b70ef0, 1220px 953px #b70ef0, 20px 1826px #b70ef0, 36px 1063px #b70ef0,
1525px 338px #b70ef0, 790px 1521px #b70ef0, 741px 1099px #b70ef0, 288px 1489px #b70ef0,
700px 1060px #b70ef0, 390px 1071px #b70ef0, 411px 1036px #b70ef0, 1853px 1072px #b70ef0,
1446px 1085px #b70ef0, 1164px 874px #b70ef0, 924px 925px #b70ef0, 291px 271px #b70ef0,
1257px 1964px #b70ef0, 1580px 1352px #b70ef0, 1507px 1216px #b70ef0, 211px 956px #b70ef0,
985px 1195px #b70ef0, 975px 1640px #b70ef0, 518px 101px #b70ef0, 663px 1395px #b70ef0,
914px 532px #b70ef0, 145px 1320px #b70ef0, 69px 1397px #b70ef0, 982px 523px #b70ef0,
257px 725px #b70ef0, 1599px 831px #b70ef0, 1636px 1513px #b70ef0, 1250px 1158px #b70ef0,
1132px 604px #b70ef0, 183px 102px #b70ef0, 1057px 318px #b70ef0, 1247px 1835px #b70ef0,
1983px 1110px #b70ef0, 1077px 1455px #b70ef0, 921px 1770px #b70ef0, 806px 1350px #b70ef0,
1938px 1992px #b70ef0, 855px 1260px #b70ef0, 902px 1345px #b70ef0, 658px 1908px #b70ef0,
1845px 679px #b70ef0, 712px 1482px #b70ef0, 595px 950px #b70ef0, 1784px 1992px #b70ef0,
1847px 1785px #b70ef0, 691px 1004px #b70ef0, 175px 1179px #b70ef0, 1666px 1911px #b70ef0,
41px 61px #b70ef0, 971px 1080px #b70ef0, 1830px 1450px #b70ef0, 1351px 1518px #b70ef0,
1257px 99px #b70ef0, 1395px 1498px #b70ef0, 1117px 252px #b70ef0, 1779px 597px #b70ef0,
1346px 729px #b70ef0, 1108px 1144px #b70ef0, 402px 691px #b70ef0, 72px 496px #b70ef0,
1673px 1604px #b70ef0, 1497px 974px #b70ef0, 1865px 1664px #b70ef0, 88px 806px #b70ef0,
918px 77px #b70ef0, 244px 1118px #b70ef0, 256px 1820px #b70ef0, 1851px 1840px #b70ef0,
605px 1851px #b70ef0, 634px 383px #b70ef0, 865px 37px #b70ef0, 943px 1024px #b70ef0,
1951px 177px #b70ef0, 1097px 523px #b70ef0, 985px 1700px #b70ef0, 1243px 122px #b70ef0,
768px 1070px #b70ef0, 468px 194px #b70ef0, 320px 1867px #b70ef0, 1850px 185px #b70ef0,
380px 1616px #b70ef0, 468px 1294px #b70ef0, 1122px 1743px #b70ef0, 884px 299px #b70ef0,
1300px 1917px #b70ef0, 1860px 396px #b70ef0, 1270px 990px #b70ef0, 529px 733px #b70ef0,
1975px 1347px #b70ef0, 1885px 685px #b70ef0, 226px 506px #b70ef0, 651px 878px #b70ef0,
1323px 680px #b70ef0, 1284px 680px #b70ef0, 238px 1967px #b70ef0, 911px 174px #b70ef0,
1111px 521px #b70ef0, 1150px 85px #b70ef0, 794px 502px #b70ef0, 484px 1856px #b70ef0,
1809px 368px #b70ef0, 112px 953px #b70ef0, 590px 1009px #b70ef0, 1655px 311px #b70ef0,
100px 1026px #b70ef0, 1803px 352px #b70ef0, 865px 306px #b70ef0, 1077px 1019px #b70ef0,
1335px 872px #b70ef0, 1647px 1298px #b70ef0, 1233px 1387px #b70ef0, 698px 1036px #b70ef0,
659px 1860px #b70ef0, 388px 1412px #b70ef0, 1212px 458px #b70ef0, 755px 1468px #b70ef0,
696px 1654px #b70ef0, 1144px 60px #b70ef0;
}

#stars:after {
content: '';
position: absolute;
top: 2000px;
width: 1px;
height: 1px;
background: transparent;
box-shadow: 779px 1331px #b70ef0, 324px 42px #b70ef0, 303px 586px #b70ef0,
1312px 276px #b70ef0, 451px 625px #b70ef0, 521px 1931px #b70ef0, 1087px 1871px #b70ef0,
36px 1546px #b70ef0, 132px 934px #b70ef0, 1698px 901px #b70ef0, 1418px 664px #b70ef0,
1448px 1157px #b70ef0, 1084px 232px #b70ef0, 347px 1776px #b70ef0, 1722px 243px #b70ef0,
1629px 835px #b70ef0, 479px 969px #b70ef0, 1231px 960px #b70ef0, 586px 384px #b70ef0,
164px 527px #b70ef0, 8px 646px #b70ef0, 1150px 1126px #b70ef0, 665px 1357px #b70ef0,
1556px 1982px #b70ef0, 1260px 1961px #b70ef0, 1675px 1741px #b70ef0,
1843px 1514px #b70ef0, 718px 1628px #b70ef0, 242px 1343px #b70ef0, 1497px 1880px #b70ef0,
1364px 230px #b70ef0, 1739px 1302px #b70ef0, 636px 959px #b70ef0, 304px 686px #b70ef0,
614px 751px #b70ef0, 1935px 816px #b70ef0, 1428px 60px #b70ef0, 355px 335px #b70ef0,
1594px 158px #b70ef0, 90px 60px #b70ef0, 1553px 162px #b70ef0, 1239px 1825px #b70ef0,
1945px 587px #b70ef0, 749px 1785px #b70ef0, 1987px 1172px #b70ef0, 1301px 1237px #b70ef0,
1039px 342px #b70ef0, 1585px 1481px #b70ef0, 995px 1048px #b70ef0, 524px 932px #b70ef0,
214px 413px #b70ef0, 1701px 1300px #b70ef0, 1037px 1613px #b70ef0, 1871px 996px #b70ef0,
1360px 1635px #b70ef0, 1110px 1313px #b70ef0, 412px 1783px #b70ef0, 1949px 177px #b70ef0,
903px 1854px #b70ef0, 700px 1936px #b70ef0, 378px 125px #b70ef0, 308px 834px #b70ef0,
1118px 962px #b70ef0, 1350px 1929px #b70ef0, 781px 1811px #b70ef0, 561px 137px #b70ef0,
757px 1148px #b70ef0, 1670px 1979px #b70ef0, 343px 739px #b70ef0, 945px 795px #b70ef0,
576px 1903px #b70ef0, 1078px 1436px #b70ef0, 1583px 450px #b70ef0, 1366px 474px #b70ef0,
297px 1873px #b70ef0, 192px 162px #b70ef0, 1624px 1633px #b70ef0, 59px 453px #b70ef0,
82px 1872px #b70ef0, 1933px 498px #b70ef0, 1966px 1974px #b70ef0, 1975px 1688px #b70ef0,
779px 314px #b70ef0, 1858px 1543px #b70ef0, 73px 1507px #b70ef0, 1693px 975px #b70ef0,
1683px 108px #b70ef0, 1768px 1654px #b70ef0, 654px 14px #b70ef0, 494px 171px #b70ef0,
1689px 1895px #b70ef0, 1660px 263px #b70ef0, 1031px 903px #b70ef0, 1203px 1393px #b70ef0,
1333px 1421px #b70ef0, 1113px 41px #b70ef0, 1206px 1645px #b70ef0, 1325px 1635px #b70ef0,
142px 388px #b70ef0, 572px 215px #b70ef0, 1535px 296px #b70ef0, 1419px 407px #b70ef0,
1379px 1003px #b70ef0, 329px 469px #b70ef0, 1791px 1652px #b70ef0, 935px 1802px #b70ef0,
1330px 1820px #b70ef0, 421px 1933px #b70ef0, 828px 365px #b70ef0, 275px 316px #b70ef0,
707px 960px #b70ef0, 1605px 1554px #b70ef0, 625px 58px #b70ef0, 717px 1697px #b70ef0,
1669px 246px #b70ef0, 1925px 322px #b70ef0, 1154px 1803px #b70ef0, 1929px 295px #b70ef0,
1248px 240px #b70ef0, 1045px 1755px #b70ef0, 166px 942px #b70ef0, 1888px 1773px #b70ef0,
678px 1963px #b70ef0, 1370px 569px #b70ef0, 1974px 1400px #b70ef0, 1786px 460px #b70ef0,
51px 307px #b70ef0, 784px 1400px #b70ef0, 730px 1258px #b70ef0, 1712px 393px #b70ef0,
416px 170px #b70ef0, 1797px 1932px #b70ef0, 572px 219px #b70ef0, 1557px 1856px #b70ef0,
218px 8px #b70ef0, 348px 1334px #b70ef0, 469px 413px #b70ef0, 385px 1738px #b70ef0,
1357px 1818px #b70ef0, 240px 942px #b70ef0, 248px 1847px #b70ef0, 1535px 806px #b70ef0,
236px 1514px #b70ef0, 1429px 1556px #b70ef0, 73px 1633px #b70ef0, 1398px 1121px #b70ef0,
671px 1301px #b70ef0, 1404px 1663px #b70ef0, 740px 1018px #b70ef0, 1600px 377px #b70ef0,
785px 514px #b70ef0, 112px 1084px #b70ef0, 1915px 1887px #b70ef0, 1463px 1848px #b70ef0,
687px 1115px #b70ef0, 1268px 1768px #b70ef0, 1729px 1425px #b70ef0,
1284px 1022px #b70ef0, 801px 974px #b70ef0, 1975px 1317px #b70ef0, 1354px 834px #b70ef0,
1446px 1484px #b70ef0, 1283px 1786px #b70ef0, 11px 523px #b70ef0, 1842px 236px #b70ef0,
1355px 654px #b70ef0, 429px 7px #b70ef0, 1033px 1128px #b70ef0, 157px 297px #b70ef0,
545px 635px #b70ef0, 52px 1080px #b70ef0, 827px 1520px #b70ef0, 1121px 490px #b70ef0,
9px 309px #b70ef0, 1744px 1586px #b70ef0, 1014px 417px #b70ef0, 1534px 524px #b70ef0,
958px 552px #b70ef0, 1403px 1496px #b70ef0, 387px 703px #b70ef0, 1522px 548px #b70ef0,
1355px 282px #b70ef0, 1532px 601px #b70ef0, 1838px 790px #b70ef0, 290px 259px #b70ef0,
295px 598px #b70ef0, 1601px 539px #b70ef0, 1561px 1272px #b70ef0, 34px 1922px #b70ef0,
1024px 543px #b70ef0, 467px 369px #b70ef0, 722px 333px #b70ef0, 1976px 1255px #b70ef0,
766px 983px #b70ef0, 1582px 1285px #b70ef0, 12px 512px #b70ef0, 617px 1410px #b70ef0,
682px 577px #b70ef0, 1334px 1438px #b70ef0, 439px 327px #b70ef0, 1617px 1661px #b70ef0,
673px 129px #b70ef0, 794px 941px #b70ef0, 1386px 1902px #b70ef0, 37px 1353px #b70ef0,
1467px 1353px #b70ef0, 416px 18px #b70ef0, 187px 344px #b70ef0, 200px 1898px #b70ef0,
1491px 1619px #b70ef0, 811px 347px #b70ef0, 924px 1827px #b70ef0, 945px 217px #b70ef0,
1735px 1228px #b70ef0, 379px 1890px #b70ef0, 79px 761px #b70ef0, 825px 1837px #b70ef0,
1980px 1558px #b70ef0, 1308px 1573px #b70ef0, 1488px 1726px #b70ef0,
382px 1208px #b70ef0, 522px 595px #b70ef0, 1277px 1898px #b70ef0, 354px 552px #b70ef0,
161px 1784px #b70ef0, 614px 251px #b70ef0, 526px 1576px #b70ef0, 17px 212px #b70ef0,
179px 996px #b70ef0, 467px 1208px #b70ef0, 1944px 1838px #b70ef0, 1140px 1093px #b70ef0,
858px 1007px #b70ef0, 200px 1064px #b70ef0, 423px 1964px #b70ef0, 1945px 439px #b70ef0,
1377px 689px #b70ef0, 1120px 1437px #b70ef0, 1876px 668px #b70ef0, 907px 1324px #b70ef0,
343px 1976px #b70ef0, 1816px 1501px #b70ef0, 1849px 177px #b70ef0, 647px 91px #b70ef0,
1984px 1012px #b70ef0, 1336px 1300px #b70ef0, 128px 648px #b70ef0, 305px 1060px #b70ef0,
1324px 826px #b70ef0, 1263px 1314px #b70ef0, 1801px 629px #b70ef0, 1614px 1555px #b70ef0,
1634px 90px #b70ef0, 1603px 452px #b70ef0, 891px 1984px #b70ef0, 1556px 1906px #b70ef0,
121px 68px #b70ef0, 1676px 1714px #b70ef0, 516px 936px #b70ef0, 1947px 1492px #b70ef0,
1455px 1519px #b70ef0, 45px 602px #b70ef0, 205px 1039px #b70ef0, 793px 172px #b70ef0,
1562px 1739px #b70ef0, 1056px 110px #b70ef0, 1512px 379px #b70ef0, 1795px 1621px #b70ef0,
1848px 607px #b70ef0, 262px 1719px #b70ef0, 477px 991px #b70ef0, 483px 883px #b70ef0,
1239px 1197px #b70ef0, 1496px 647px #b70ef0, 1649px 25px #b70ef0, 1491px 1946px #b70ef0,
119px 996px #b70ef0, 179px 1472px #b70ef0, 1341px 808px #b70ef0, 1565px 1700px #b70ef0,
407px 1544px #b70ef0, 1754px 357px #b70ef0, 1288px 981px #b70ef0, 902px 1997px #b70ef0,
1755px 1668px #b70ef0, 186px 877px #b70ef0, 1202px 1882px #b70ef0, 461px 1213px #b70ef0,
1400px 748px #b70ef0, 1969px 1899px #b70ef0, 809px 522px #b70ef0, 514px 1219px #b70ef0,
374px 275px #b70ef0, 938px 1973px #b70ef0, 357px 552px #b70ef0, 144px 1722px #b70ef0,
1572px 912px #b70ef0, 402px 1858px #b70ef0, 1544px 1195px #b70ef0, 667px 1257px #b70ef0,
727px 1496px #b70ef0, 993px 232px #b70ef0, 1772px 313px #b70ef0, 1040px 1590px #b70ef0,
1204px 1973px #b70ef0, 1268px 79px #b70ef0, 1555px 1048px #b70ef0, 986px 1707px #b70ef0,
978px 1710px #b70ef0, 713px 360px #b70ef0, 407px 863px #b70ef0, 461px 736px #b70ef0,
284px 1608px #b70ef0, 103px 430px #b70ef0, 1283px 1319px #b70ef0, 977px 1186px #b70ef0,
1966px 1516px #b70ef0, 1287px 1129px #b70ef0, 70px 1098px #b70ef0, 1189px 889px #b70ef0,
1126px 1734px #b70ef0, 309px 1292px #b70ef0, 879px 764px #b70ef0, 65px 473px #b70ef0,
1003px 1959px #b70ef0, 658px 791px #b70ef0, 402px 1576px #b70ef0, 35px 622px #b70ef0,
529px 1589px #b70ef0, 164px 666px #b70ef0, 1876px 1290px #b70ef0, 1541px 526px #b70ef0,
270px 1297px #b70ef0, 440px 865px #b70ef0, 1500px 802px #b70ef0, 182px 1754px #b70ef0,
1264px 892px #b70ef0, 272px 1249px #b70ef0, 1289px 1535px #b70ef0, 190px 1646px #b70ef0,
955px 242px #b70ef0, 1456px 1597px #b70ef0, 1727px 1983px #b70ef0, 635px 801px #b70ef0,
226px 455px #b70ef0, 1396px 1710px #b70ef0, 849px 1863px #b70ef0, 237px 1264px #b70ef0,
839px 140px #b70ef0, 1122px 735px #b70ef0, 1280px 15px #b70ef0, 1318px 242px #b70ef0,
1819px 1148px #b70ef0, 333px 1392px #b70ef0, 1949px 553px #b70ef0, 1878px 1332px #b70ef0,
467px 548px #b70ef0, 1812px 1082px #b70ef0, 1067px 193px #b70ef0, 243px 156px #b70ef0,
483px 1616px #b70ef0, 1714px 933px #b70ef0, 759px 1800px #b70ef0, 1822px 995px #b70ef0,
1877px 572px #b70ef0, 581px 1084px #b70ef0, 107px 732px #b70ef0, 642px 1837px #b70ef0,
166px 1493px #b70ef0, 1555px 198px #b70ef0, 819px 307px #b70ef0, 947px 345px #b70ef0,
827px 224px #b70ef0, 927px 1394px #b70ef0, 540px 467px #b70ef0, 1093px 405px #b70ef0,
1140px 927px #b70ef0, 130px 529px #b70ef0, 33px 1980px #b70ef0, 1147px 1663px #b70ef0,
1616px 1436px #b70ef0, 528px 710px #b70ef0, 798px 1100px #b70ef0, 505px 1480px #b70ef0,
899px 641px #b70ef0, 1909px 1949px #b70ef0, 1311px 964px #b70ef0, 979px 1301px #b70ef0,
1393px 969px #b70ef0, 1793px 1886px #b70ef0, 292px 357px #b70ef0, 1196px 1718px #b70ef0,
1290px 1994px #b70ef0, 537px 1973px #b70ef0, 1181px 1674px #b70ef0,
1740px 1566px #b70ef0, 1307px 265px #b70ef0, 922px 522px #b70ef0, 1892px 472px #b70ef0,
384px 1746px #b70ef0, 392px 1098px #b70ef0, 647px 548px #b70ef0, 390px 1498px #b70ef0,
1246px 138px #b70ef0, 730px 876px #b70ef0, 192px 1472px #b70ef0, 1790px 1789px #b70ef0,
928px 311px #b70ef0, 1253px 1647px #b70ef0, 747px 1921px #b70ef0, 1561px 1025px #b70ef0,
1533px 1292px #b70ef0, 1985px 195px #b70ef0, 728px 729px #b70ef0, 1712px 1936px #b70ef0,
512px 1717px #b70ef0, 1528px 483px #b70ef0, 313px 1642px #b70ef0, 281px 1849px #b70ef0,
1212px 799px #b70ef0, 435px 1191px #b70ef0, 1422px 611px #b70ef0, 1718px 1964px #b70ef0,
411px 944px #b70ef0, 210px 636px #b70ef0, 1502px 1295px #b70ef0, 1434px 349px #b70ef0,
769px 60px #b70ef0, 747px 1053px #b70ef0, 789px 504px #b70ef0, 1436px 1264px #b70ef0,
1893px 1225px #b70ef0, 1394px 1788px #b70ef0, 1108px 1317px #b70ef0,
1673px 1395px #b70ef0, 854px 1010px #b70ef0, 1705px 80px #b70ef0, 1858px 148px #b70ef0,
1729px 344px #b70ef0, 1388px 664px #b70ef0, 895px 406px #b70ef0, 1479px 157px #b70ef0,
1441px 1157px #b70ef0, 552px 1900px #b70ef0, 516px 364px #b70ef0, 1647px 189px #b70ef0,
1427px 1071px #b70ef0, 785px 729px #b70ef0, 1080px 1710px #b70ef0, 504px 204px #b70ef0,
1177px 1622px #b70ef0, 657px 34px #b70ef0, 1296px 1099px #b70ef0, 248px 180px #b70ef0,
1212px 1568px #b70ef0, 667px 1562px #b70ef0, 695px 841px #b70ef0, 1608px 1247px #b70ef0,
751px 882px #b70ef0, 87px 167px #b70ef0, 607px 1368px #b70ef0, 1363px 1203px #b70ef0,
1836px 317px #b70ef0, 1668px 1703px #b70ef0, 830px 1154px #b70ef0, 1721px 1398px #b70ef0,
1601px 1280px #b70ef0, 976px 874px #b70ef0, 1743px 254px #b70ef0, 1020px 1815px #b70ef0,
1670px 1766px #b70ef0, 1890px 735px #b70ef0, 1379px 136px #b70ef0, 1864px 695px #b70ef0,
206px 965px #b70ef0, 1404px 1932px #b70ef0, 1923px 1360px #b70ef0, 247px 682px #b70ef0,
519px 1708px #b70ef0, 645px 750px #b70ef0, 1164px 1204px #b70ef0, 834px 323px #b70ef0,
172px 1350px #b70ef0, 213px 972px #b70ef0, 1837px 190px #b70ef0, 285px 1806px #b70ef0,
1047px 1299px #b70ef0, 1548px 825px #b70ef0, 1730px 324px #b70ef0, 1346px 1909px #b70ef0,
772px 270px #b70ef0, 345px 1190px #b70ef0, 478px 1433px #b70ef0, 1479px 25px #b70ef0,
1994px 1830px #b70ef0, 1744px 732px #b70ef0, 20px 1635px #b70ef0, 690px 1795px #b70ef0,
1594px 569px #b70ef0, 579px 245px #b70ef0, 1398px 733px #b70ef0, 408px 1352px #b70ef0,
1774px 120px #b70ef0, 1152px 1370px #b70ef0, 1698px 1810px #b70ef0, 710px 1450px #b70ef0,
665px 286px #b70ef0, 493px 1720px #b70ef0, 786px 5px #b70ef0, 637px 1140px #b70ef0,
764px 324px #b70ef0, 927px 310px #b70ef0, 938px 1424px #b70ef0, 1884px 744px #b70ef0,
913px 462px #b70ef0, 1831px 1936px #b70ef0, 1527px 249px #b70ef0, 36px 1381px #b70ef0,
1597px 581px #b70ef0, 1530px 355px #b70ef0, 949px 459px #b70ef0, 799px 828px #b70ef0,
242px 1471px #b70ef0, 654px 797px #b70ef0, 796px 594px #b70ef0, 1365px 678px #b70ef0,
752px 23px #b70ef0, 1630px 541px #b70ef0, 982px 72px #b70ef0, 1733px 1831px #b70ef0,
21px 412px #b70ef0, 775px 998px #b70ef0, 335px 1945px #b70ef0, 264px 583px #b70ef0,
158px 1311px #b70ef0, 528px 164px #b70ef0, 1978px 574px #b70ef0, 717px 1203px #b70ef0,
734px 1591px #b70ef0, 1555px 820px #b70ef0, 16px 1943px #b70ef0, 1625px 1177px #b70ef0,
1236px 690px #b70ef0, 1585px 1590px #b70ef0, 1737px 1728px #b70ef0, 721px 698px #b70ef0,
1804px 1186px #b70ef0, 166px 980px #b70ef0, 1850px 230px #b70ef0, 330px 1712px #b70ef0,
95px 797px #b70ef0, 1948px 1078px #b70ef0, 469px 939px #b70ef0, 1269px 1899px #b70ef0,
955px 1220px #b70ef0, 1137px 1075px #b70ef0, 312px 1293px #b70ef0, 986px 1762px #b70ef0,
1103px 1238px #b70ef0, 428px 1993px #b70ef0, 355px 570px #b70ef0, 977px 1836px #b70ef0,
1395px 1092px #b70ef0, 276px 913px #b70ef0, 1743px 656px #b70ef0, 773px 502px #b70ef0,
1686px 1322px #b70ef0, 1516px 1945px #b70ef0, 1334px 501px #b70ef0, 266px 156px #b70ef0,
455px 655px #b70ef0, 798px 72px #b70ef0, 1059px 1259px #b70ef0, 1402px 1687px #b70ef0,
236px 1329px #b70ef0, 1455px 786px #b70ef0, 146px 1228px #b70ef0, 1851px 823px #b70ef0,
1062px 100px #b70ef0, 1220px 953px #b70ef0, 20px 1826px #b70ef0, 36px 1063px #b70ef0,
1525px 338px #b70ef0, 790px 1521px #b70ef0, 741px 1099px #b70ef0, 288px 1489px #b70ef0,
700px 1060px #b70ef0, 390px 1071px #b70ef0, 411px 1036px #b70ef0, 1853px 1072px #b70ef0,
1446px 1085px #b70ef0, 1164px 874px #b70ef0, 924px 925px #b70ef0, 291px 271px #b70ef0,
1257px 1964px #b70ef0, 1580px 1352px #b70ef0, 1507px 1216px #b70ef0, 211px 956px #b70ef0,
985px 1195px #b70ef0, 975px 1640px #b70ef0, 518px 101px #b70ef0, 663px 1395px #b70ef0,
914px 532px #b70ef0, 145px 1320px #b70ef0, 69px 1397px #b70ef0, 982px 523px #b70ef0,
257px 725px #b70ef0, 1599px 831px #b70ef0, 1636px 1513px #b70ef0, 1250px 1158px #b70ef0,
1132px 604px #b70ef0, 183px 102px #b70ef0, 1057px 318px #b70ef0, 1247px 1835px #b70ef0,
1983px 1110px #b70ef0, 1077px 1455px #b70ef0, 921px 1770px #b70ef0, 806px 1350px #b70ef0,
1938px 1992px #b70ef0, 855px 1260px #b70ef0, 902px 1345px #b70ef0, 658px 1908px #b70ef0,
1845px 679px #b70ef0, 712px 1482px #b70ef0, 595px 950px #b70ef0, 1784px 1992px #b70ef0,
1847px 1785px #b70ef0, 691px 1004px #b70ef0, 175px 1179px #b70ef0, 1666px 1911px #b70ef0,
41px 61px #b70ef0, 971px 1080px #b70ef0, 1830px 1450px #b70ef0, 1351px 1518px #b70ef0,
1257px 99px #b70ef0, 1395px 1498px #b70ef0, 1117px 252px #b70ef0, 1779px 597px #b70ef0,
1346px 729px #b70ef0, 1108px 1144px #b70ef0, 402px 691px #b70ef0, 72px 496px #b70ef0,
1673px 1604px #b70ef0, 1497px 974px #b70ef0, 1865px 1664px #b70ef0, 88px 806px #b70ef0,
918px 77px #b70ef0, 244px 1118px #b70ef0, 256px 1820px #b70ef0, 1851px 1840px #b70ef0,
605px 1851px #b70ef0, 634px 383px #b70ef0, 865px 37px #b70ef0, 943px 1024px #b70ef0,
1951px 177px #b70ef0, 1097px 523px #b70ef0, 985px 1700px #b70ef0, 1243px 122px #b70ef0,
768px 1070px #b70ef0, 468px 194px #b70ef0, 320px 1867px #b70ef0, 1850px 185px #b70ef0,
380px 1616px #b70ef0, 468px 1294px #b70ef0, 1122px 1743px #b70ef0, 884px 299px #b70ef0,
1300px 1917px #b70ef0, 1860px 396px #b70ef0, 1270px 990px #b70ef0, 529px 733px #b70ef0,
1975px 1347px #b70ef0, 1885px 685px #b70ef0, 226px 506px #b70ef0, 651px 878px #b70ef0,
1323px 680px #b70ef0, 1284px 680px #b70ef0, 238px 1967px #b70ef0, 911px 174px #b70ef0,
1111px 521px #b70ef0, 1150px 85px #b70ef0, 794px 502px #b70ef0, 484px 1856px #b70ef0,
1809px 368px #b70ef0, 112px 953px #b70ef0, 590px 1009px #b70ef0, 1655px 311px #b70ef0,
100px 1026px #b70ef0, 1803px 352px #b70ef0, 865px 306px #b70ef0, 1077px 1019px #b70ef0,
1335px 872px #b70ef0, 1647px 1298px #b70ef0, 1233px 1387px #b70ef0, 698px 1036px #b70ef0,
659px 1860px #b70ef0, 388px 1412px #b70ef0, 1212px 458px #b70ef0, 755px 1468px #b70ef0,
696px 1654px #b70ef0, 1144px 60px #b70ef0;
}

#stars2 {
width: 2px;
height: 2px;
background: transparent;
animation: animStar 100s linear infinite;
box-shadow: 1448px 320px #b70ef0, 1775px 1663px #b70ef0, 332px 1364px #b70ef0,
878px 340px #b70ef0, 569px 1832px #b70ef0, 1422px 1684px #b70ef0, 1946px 1907px #b70ef0,
121px 979px #b70ef0, 1044px 1069px #b70ef0, 463px 381px #b70ef0, 423px 112px #b70ef0,
523px 1179px #b70ef0, 779px 654px #b70ef0, 1398px 694px #b70ef0, 1085px 1464px #b70ef0,
1599px 1869px #b70ef0, 801px 1882px #b70ef0, 779px 1231px #b70ef0, 552px 932px #b70ef0,
1057px 1196px #b70ef0, 282px 1280px #b70ef0, 496px 1986px #b70ef0, 1833px 1120px #b70ef0,
1802px 1293px #b70ef0, 6px 1696px #b70ef0, 412px 1902px #b70ef0, 605px 438px #b70ef0,
24px 1212px #b70ef0, 234px 1320px #b70ef0, 544px 344px #b70ef0, 1107px 170px #b70ef0,
1603px 196px #b70ef0, 905px 648px #b70ef0, 68px 1458px #b70ef0, 649px 1969px #b70ef0,
744px 675px #b70ef0, 1127px 478px #b70ef0, 714px 1814px #b70ef0, 1486px 526px #b70ef0,
270px 1636px #b70ef0, 1931px 149px #b70ef0, 1807px 378px #b70ef0, 8px 390px #b70ef0,
1415px 699px #b70ef0, 1473px 1211px #b70ef0, 1590px 141px #b70ef0, 270px 1705px #b70ef0,
69px 1423px #b70ef0, 1108px 1053px #b70ef0, 1946px 128px #b70ef0, 371px 371px #b70ef0,
1490px 220px #b70ef0, 357px 1885px #b70ef0, 363px 363px #b70ef0, 1896px 1256px #b70ef0,
1979px 1050px #b70ef0, 947px 1342px #b70ef0, 1754px 242px #b70ef0, 514px 974px #b70ef0,
65px 1477px #b70ef0, 1840px 547px #b70ef0, 950px 695px #b70ef0, 459px 1150px #b70ef0,
1124px 1502px #b70ef0, 481px 940px #b70ef0, 680px 839px #b70ef0, 797px 1169px #b70ef0,
1977px 1491px #b70ef0, 734px 1724px #b70ef0, 210px 298px #b70ef0, 816px 628px #b70ef0,
686px 770px #b70ef0, 1721px 267px #b70ef0, 1663px 511px #b70ef0, 1481px 1141px #b70ef0,
582px 248px #b70ef0, 1308px 953px #b70ef0, 628px 657px #b70ef0, 897px 1535px #b70ef0,
270px 931px #b70ef0, 791px 467px #b70ef0, 1336px 1732px #b70ef0, 1013px 1653px #b70ef0,
1911px 956px #b70ef0, 587px 816px #b70ef0, 83px 456px #b70ef0, 930px 1478px #b70ef0,
1587px 1694px #b70ef0, 614px 1200px #b70ef0, 302px 1782px #b70ef0, 1711px 1432px #b70ef0,
443px 904px #b70ef0, 1666px 714px #b70ef0, 1588px 1167px #b70ef0, 273px 1075px #b70ef0,
1679px 461px #b70ef0, 721px 664px #b70ef0, 1202px 10px #b70ef0, 166px 1126px #b70ef0,
331px 1628px #b70ef0, 430px 1565px #b70ef0, 1585px 509px #b70ef0, 640px 38px #b70ef0,
822px 837px #b70ef0, 1760px 1664px #b70ef0, 1122px 1458px #b70ef0, 398px 131px #b70ef0,
689px 285px #b70ef0, 460px 652px #b70ef0, 1627px 365px #b70ef0, 348px 1648px #b70ef0,
819px 1946px #b70ef0, 981px 1917px #b70ef0, 323px 76px #b70ef0, 979px 684px #b70ef0,
887px 536px #b70ef0, 1348px 1596px #b70ef0, 1055px 666px #b70ef0, 1402px 1797px #b70ef0,
1300px 1055px #b70ef0, 937px 238px #b70ef0, 1474px 1815px #b70ef0, 1144px 1710px #b70ef0,
1629px 1087px #b70ef0, 911px 919px #b70ef0, 771px 819px #b70ef0, 403px 720px #b70ef0,
163px 736px #b70ef0, 1062px 238px #b70ef0, 1774px 818px #b70ef0, 1874px 1178px #b70ef0,
1177px 699px #b70ef0, 1244px 1244px #b70ef0, 1371px 58px #b70ef0, 564px 1515px #b70ef0,
1824px 487px #b70ef0, 929px 702px #b70ef0, 394px 1348px #b70ef0, 1161px 641px #b70ef0,
219px 1841px #b70ef0, 358px 941px #b70ef0, 140px 1759px #b70ef0, 1019px 1345px #b70ef0,
274px 436px #b70ef0, 1433px 1605px #b70ef0, 1798px 1426px #b70ef0, 294px 1848px #b70ef0,
1681px 1877px #b70ef0, 1344px 1824px #b70ef0, 1439px 1632px #b70ef0,
161px 1012px #b70ef0, 1308px 588px #b70ef0, 1789px 582px #b70ef0, 721px 1910px #b70ef0,
318px 218px #b70ef0, 607px 319px #b70ef0, 495px 535px #b70ef0, 1552px 1575px #b70ef0,
1562px 67px #b70ef0, 403px 926px #b70ef0, 1096px 1800px #b70ef0, 1814px 1709px #b70ef0,
1882px 1831px #b70ef0, 533px 46px #b70ef0, 823px 969px #b70ef0, 530px 165px #b70ef0,
1030px 352px #b70ef0, 1681px 313px #b70ef0, 338px 115px #b70ef0, 1607px 211px #b70ef0,
1718px 1184px #b70ef0, 1589px 659px #b70ef0, 278px 355px #b70ef0, 464px 1464px #b70ef0,
1165px 277px #b70ef0, 950px 694px #b70ef0, 1746px 293px #b70ef0, 793px 911px #b70ef0,
528px 773px #b70ef0, 1883px 1694px #b70ef0, 748px 182px #b70ef0, 1924px 1531px #b70ef0,
100px 636px #b70ef0, 1473px 1445px #b70ef0, 1264px 1244px #b70ef0, 850px 1377px #b70ef0,
987px 1976px #b70ef0, 933px 1761px #b70ef0, 922px 1270px #b70ef0, 500px 396px #b70ef0,
1324px 8px #b70ef0, 1967px 1814px #b70ef0, 1072px 1401px #b70ef0, 961px 37px #b70ef0,
156px 81px #b70ef0, 1915px 502px #b70ef0, 1076px 1846px #b70ef0, 152px 1669px #b70ef0,
986px 1529px #b70ef0, 1667px 1137px #b70ef0;
}

#stars2:after {
content: '';
position: absolute;
top: 2000px;
width: 2px;
height: 2px;
background: transparent;
box-shadow: 1448px 320px #b70ef0, 1775px 1663px #b70ef0, 332px 1364px #b70ef0,
878px 340px #b70ef0, 569px 1832px #b70ef0, 1422px 1684px #b70ef0, 1946px 1907px #b70ef0,
121px 979px #b70ef0, 1044px 1069px #b70ef0, 463px 381px #b70ef0, 423px 112px #b70ef0,
523px 1179px #b70ef0, 779px 654px #b70ef0, 1398px 694px #b70ef0, 1085px 1464px #b70ef0,
1599px 1869px #b70ef0, 801px 1882px #b70ef0, 779px 1231px #b70ef0, 552px 932px #b70ef0,
1057px 1196px #b70ef0, 282px 1280px #b70ef0, 496px 1986px #b70ef0, 1833px 1120px #b70ef0,
1802px 1293px #b70ef0, 6px 1696px #b70ef0, 412px 1902px #b70ef0, 605px 438px #b70ef0,
24px 1212px #b70ef0, 234px 1320px #b70ef0, 544px 344px #b70ef0, 1107px 170px #b70ef0,
1603px 196px #b70ef0, 905px 648px #b70ef0, 68px 1458px #b70ef0, 649px 1969px #b70ef0,
744px 675px #b70ef0, 1127px 478px #b70ef0, 714px 1814px #b70ef0, 1486px 526px #b70ef0,
270px 1636px #b70ef0, 1931px 149px #b70ef0, 1807px 378px #b70ef0, 8px 390px #b70ef0,
1415px 699px #b70ef0, 1473px 1211px #b70ef0, 1590px 141px #b70ef0, 270px 1705px #b70ef0,
69px 1423px #b70ef0, 1108px 1053px #b70ef0, 1946px 128px #b70ef0, 371px 371px #b70ef0,
1490px 220px #b70ef0, 357px 1885px #b70ef0, 363px 363px #b70ef0, 1896px 1256px #b70ef0,
1979px 1050px #b70ef0, 947px 1342px #b70ef0, 1754px 242px #b70ef0, 514px 974px #b70ef0,
65px 1477px #b70ef0, 1840px 547px #b70ef0, 950px 695px #b70ef0, 459px 1150px #b70ef0,
1124px 1502px #b70ef0, 481px 940px #b70ef0, 680px 839px #b70ef0, 797px 1169px #b70ef0,
1977px 1491px #b70ef0, 734px 1724px #b70ef0, 210px 298px #b70ef0, 816px 628px #b70ef0,
686px 770px #b70ef0, 1721px 267px #b70ef0, 1663px 511px #b70ef0, 1481px 1141px #b70ef0,
582px 248px #b70ef0, 1308px 953px #b70ef0, 628px 657px #b70ef0, 897px 1535px #b70ef0,
270px 931px #b70ef0, 791px 467px #b70ef0, 1336px 1732px #b70ef0, 1013px 1653px #b70ef0,
1911px 956px #b70ef0, 587px 816px #b70ef0, 83px 456px #b70ef0, 930px 1478px #b70ef0,
1587px 1694px #b70ef0, 614px 1200px #b70ef0, 302px 1782px #b70ef0, 1711px 1432px #b70ef0,
443px 904px #b70ef0, 1666px 714px #b70ef0, 1588px 1167px #b70ef0, 273px 1075px #b70ef0,
1679px 461px #b70ef0, 721px 664px #b70ef0, 1202px 10px #b70ef0, 166px 1126px #b70ef0,
331px 1628px #b70ef0, 430px 1565px #b70ef0, 1585px 509px #b70ef0, 640px 38px #b70ef0,
822px 837px #b70ef0, 1760px 1664px #b70ef0, 1122px 1458px #b70ef0, 398px 131px #b70ef0,
689px 285px #b70ef0, 460px 652px #b70ef0, 1627px 365px #b70ef0, 348px 1648px #b70ef0,
819px 1946px #b70ef0, 981px 1917px #b70ef0, 323px 76px #b70ef0, 979px 684px #b70ef0,
887px 536px #b70ef0, 1348px 1596px #b70ef0, 1055px 666px #b70ef0, 1402px 1797px #b70ef0,
1300px 1055px #b70ef0, 937px 238px #b70ef0, 1474px 1815px #b70ef0, 1144px 1710px #b70ef0,
1629px 1087px #b70ef0, 911px 919px #b70ef0, 771px 819px #b70ef0, 403px 720px #b70ef0,
163px 736px #b70ef0, 1062px 238px #b70ef0, 1774px 818px #b70ef0, 1874px 1178px #b70ef0,
1177px 699px #b70ef0, 1244px 1244px #b70ef0, 1371px 58px #b70ef0, 564px 1515px #b70ef0,
1824px 487px #b70ef0, 929px 702px #b70ef0, 394px 1348px #b70ef0, 1161px 641px #b70ef0,
219px 1841px #b70ef0, 358px 941px #b70ef0, 140px 1759px #b70ef0, 1019px 1345px #b70ef0,
274px 436px #b70ef0, 1433px 1605px #b70ef0, 1798px 1426px #b70ef0, 294px 1848px #b70ef0,
1681px 1877px #b70ef0, 1344px 1824px #b70ef0, 1439px 1632px #b70ef0,
161px 1012px #b70ef0, 1308px 588px #b70ef0, 1789px 582px #b70ef0, 721px 1910px #b70ef0,
318px 218px #b70ef0, 607px 319px #b70ef0, 495px 535px #b70ef0, 1552px 1575px #b70ef0,
1562px 67px #b70ef0, 403px 926px #b70ef0, 1096px 1800px #b70ef0, 1814px 1709px #b70ef0,
1882px 1831px #b70ef0, 533px 46px #b70ef0, 823px 969px #b70ef0, 530px 165px #b70ef0,
1030px 352px #b70ef0, 1681px 313px #b70ef0, 338px 115px #b70ef0, 1607px 211px #b70ef0,
1718px 1184px #b70ef0, 1589px 659px #b70ef0, 278px 355px #b70ef0, 464px 1464px #b70ef0,
1165px 277px #b70ef0, 950px 694px #b70ef0, 1746px 293px #b70ef0, 793px 911px #b70ef0,
528px 773px #b70ef0, 1883px 1694px #b70ef0, 748px 182px #b70ef0, 1924px 1531px #b70ef0,
100px 636px #b70ef0, 1473px 1445px #b70ef0, 1264px 1244px #b70ef0, 850px 1377px #b70ef0,
987px 1976px #b70ef0, 933px 1761px #b70ef0, 922px 1270px #b70ef0, 500px 396px #b70ef0,
1324px 8px #b70ef0, 1967px 1814px #b70ef0, 1072px 1401px #b70ef0, 961px 37px #b70ef0,
156px 81px #b70ef0, 1915px 502px #b70ef0, 1076px 1846px #b70ef0, 152px 1669px #b70ef0,
986px 1529px #b70ef0, 1667px 1137px #b70ef0;
}




@keyframes animStar {
from {
    transform: translateY(0px);
}
to {
    transform: translateY(-2000px);
}
}